apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "inference-manager-engine.fullname" . }}
  labels:
    {{- include "inference-manager-engine.labels" . | nindent 4 }}
data:
  config.yaml: |
    runtime:
      name: {{ .Values.runtime.name }}
      pullerImage: {{ .Values.image.repository }}:{{ default .Chart.Version .Values.version }}
      runtimeImages:
        {{- toYaml .Values.runtime.runtimeImages | nindent 8 }}
      pullerImagePullPolicy: {{ .Values.runtime.imagePullPolicy }}
      runtimeImagePullPolicy: {{ .Values.runtime.imagePullPolicy }}
      configMapName: {{ include "inference-manager-engine.fullname" . }}
      {{- with .Values.global.awsSecret }}
      {{- if .name }}
      awsSecretName: {{ .name }}
      awsKeyIdEnvKey: {{ .accessKeyIdKey }}
      awsAccessKeyEnvKey: {{ .secretAccessKeyKey }}
      {{- end }}
      {{- end }}
      {{- with .Values.global.worker.registrationKeySecret }}
      {{- if .name }}
      llmoWorkerSecretName: {{ .name }}
      llmoKeyEnvKey: {{ .key }}
      {{- end }}
      {{- end }}
      modelResources:
        {{- toYaml .Values.runtime.modelResources | nindent 8 }}
      defaultResources:
        {{- toYaml .Values.runtime.defaultResources | nindent 8 }}
      defaultReplicas: {{ .Values.runtime.defaultReplicas }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    ollama:
      keepAlive: {{ .Values.ollama.keepAlive }}
      numParallel: {{ .Values.maxConcurrentRequests }}
      forceSpreading: {{ .Values.ollama.forceSpreading }}
      debug: {{ .Values.ollama.debug }}
      runnersDir: {{ .Values.ollama.runnersDir }}
    llmEngine: {{ .Values.llmEngine }}
    llmPort: {{ .Values.llmPort }}
    healthPort: {{ .Values.healthPort }}
    leaderElection:
      enable: {{ include "leaderElection.enabled" . }}
      id: {{ include "inference-manager-engine.fullname" . }}
      leaseDuration: {{ .Values.leaderElection.leaseDuration }}
      renewDeadline: {{ .Values.leaderElection.renewDeadline }}
      retryPeriod: {{ .Values.leaderElection.retryPeriod }}
    autoscaler:
      enable: {{ .Values.autoscaler.enable }}
      initialDelay: {{ .Values.autoscaler.initialDelay }}
      syncPeriod: {{ .Values.autoscaler.syncPeriod }}
      scaleToZeroGracePeriod: {{ .Values.autoscaler.scaleToZeroGracePeriod }}
      metricsWindow: {{ .Values.autoscaler.metricsWindow }}
      runtimeScalers:
        {{- toYaml .Values.autoscaler.runtimeScalers | nindent 8 }}
      defaultScaler:
        {{- toYaml .Values.autoscaler.defaultScaler | nindent 8 }}
    {{- with .Values.preloadedModelIds }}
    preloadedModelIds:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- with .Values.modelContextLengths }}
    modelContextLengths:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    inferenceManagerServerWorkerServiceAddr: {{ .Values.inferenceManagerServerWorkerServiceAddr }}
    modelManagerServerWorkerServiceAddr: {{ .Values.global.worker.controlPlaneAddr | default .Values.modelManagerServerWorkerServiceAddr }}
    worker:
      tls:
        enable: {{ .Values.global.worker.tls.enable }}
    objectStore:
      s3:
        endpointUrl: {{ .Values.global.objectStore.s3.endpointUrl }}
        region: {{ .Values.global.objectStore.s3.region }}
        bucket: {{ .Values.global.objectStore.s3.bucket }}
