apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "inference-manager-server.fullname" . }}
  labels:
    {{- include "inference-manager-server.labels" . | nindent 4 }}
data:
  config.yaml: |
    grpcPort: {{ .Values.grpcPort }}
    httpPort: {{ .Values.httpPort }}
    workerServiceGrpcPort: {{ .Values.workerServiceGrpcPort }}
    {{- if .Values.workerServiceTls.enable }}
    workerServiceTls:
      cert: /var/run/tls/tls.crt
      key: /var/run/tls/tls.key
    {{- end }}
    monitoringPort: {{ .Values.monitoringPort }}
    modelManagerServerAddr: {{ .Values.modelManagerServerAddr }}
    vectorStoreManagerServerAddr: {{ .Values.vectorStoreManagerServerAddr }}
    vectorStoreManagerInternalServerAddr: {{ .Values.vectorStoreManagerInternalServerAddr }}
    auth:
      enable: {{ .Values.global.auth.enable }}
      rbacInternalServerAddr: {{ .Values.global.auth.rbacInternalServerAddr }}
