apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "inference-manager-server.fullname" . }}-http
  labels:
    {{- include "inference-manager-server.labels" . | nindent 4 }}
  annotations:
    {{- with .Values.global.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  ingressClassName: {{ .Values.global.ingress.ingressClassName }}
  {{- with .Values.global.ingress.tls }}
  tls:
  - hosts:
      {{- toYaml .hosts | nindent 6 }}
    {{- if .secretName }}
    secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
  - {{- if .Values.global.ingress.host }}
    host: {{ .Values.global.ingress.host }}
    {{- end }}
    http:
      paths:
      - path: /v1/chat/completions
        pathType: Prefix
        backend:
          service:
            name: {{ include "inference-manager-server.fullname" . }}-http
            port:
              number: {{ .Values.httpPort }}
      - path: /v1/completions
        pathType: Prefix
        backend:
          service:
            name: {{ include "inference-manager-server.fullname" . }}-http
            port:
              number: {{ .Values.httpPort }}
      - path: /v1/embeddings
        pathType: Prefix
        backend:
          service:
            name: {{ include "inference-manager-server.fullname" . }}-http
            port:
              number: {{ .Values.httpPort }}
      - path: /v1/audio
        pathType: Prefix
        backend:
          service:
            name: {{ include "inference-manager-server.fullname" . }}-http
            port:
              number: {{ .Values.httpPort }}
      - path: /v1/responses
        pathType: Prefix
        backend:
          service:
            name: {{ include "inference-manager-server.fullname" . }}-http
            port:
              number: {{ .Values.httpPort }}
      - path: /v1/inference
        pathType: Prefix
        backend:
          service:
            name: {{ include "inference-manager-server.fullname" . }}-management-http
            port:
              number: {{ .Values.managementPort }}
