{{- if .Values.enablePrometheusRule }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ include "inference-manager-server.fullname" . }}
  labels:
    {{- include "inference-manager-server.labels" . | nindent 4 }}
spec:
  groups:
  - name: LLMariner Inference Manager Server alerts
    rules:
    - alert: Inference Manager Server in-progress task duration
      expr: llmariner_inference_manager_server_max_in_progress_task_duration > 300
      for: 5m
      labels:
        severity: critical
      annotations:
        title: Inference Manager Server in-progress task duration
        description: Inference Manager Server is taking more than 5 minutes to process tasks.
    - alert: Inference Manager Server engine status inconsistency
      expr: max(sum by (pod) (llmariner_inference_manager_server_num_engines)) - min(sum by (pod) (llmariner_inference_manager_server_num_engines)) > 0
      for: 5m
      labels:
        severity: critical
      annotations:
        title: Inference Manager Server engine status inconsistency
        description: Inference Manager Servers have inconsistent status on engines
    - alert: Inference Manager Server disconnected from engines
      expr: sum by (tenant_id) (llmariner_inference_manager_server_num_engines) == 0
      for: 5m
      labels:
        severity: critical
      annotations:
        title: Inference Manager Server disconnected from engines for tenant {{ $labels.tenant_id }}
        description: Inference Manager Server has no connected engines for tenant {{ $labels.tenant_id }}
{{- if .Values.engineHeartbeat.enable }}
    - alert: Inference Manager Server engine heartbeat
      expr: llmariner_inference_manager_server_since_last_engine_heartbeat > 300
      for: 5m
      labels:
        severity: critical
      annotations:
        title: Inference Manager Server engine heartbeat
        description: Inference Manager Server is not receiving heartbeat from engine
{{- end }}
{{- end }}
